<%- include ('partials/header'); -%>
<!-- Css -->
<link rel="stylesheet" href="../styles.css">
<link rel="stylesheet" href="../public/pageviews.js">
<title>Study</title>
</head>
<body>

<header>
    <div class="row">
        <div class="col-6">
            <span> Coupon</span>
        </div>
        <div class="col-6">
            <ul>
                <li>Home</li>
                <li>Category</li>
                <li>Wallets</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</header>

<%- include ('partials/footer'); -%>
